h1{
    font-family: 'Courier New', Courier, monospace;
    color: #271d1d;
    padding: 10px;
    width: 30%;
    margin: auto;
    text-align: center;
}

#introduction{
    padding: 10px;
    background-color: aliceblue;
    margin: auto;
    width: 80%;
}

.codeExample{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: #bfbdbda3;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.textBlock{
    margin: 20px auto 20px auto;
    width: 80%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}

.textBlock p{
    margin: auto;
    padding: 10px;
    width: 90%;
}

h3{
    margin: auto;
    width: 150px;
    padding: 5px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    width: 70px;
    float: left;
    margin-left: 30%;
    margin-top: 10px;
}

body{
    background-color: #bdc4dd;
}
